@model SignalRChat.Models.RegisterModel

<!DOCTYPE html>


<html lang="zh" class="no-js">
<head>


    <title>会员注册</title>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />



    <link href="~/Scripts/bootstrap.min.css" rel="stylesheet" />

    <script src="~/Scripts/jquery-2.0.0.min.js"></script>

    <script src="~/Scripts/bootstrap.min.js"></script>

    <script src="~/Scripts/jquery.validate.min.js"></script>

    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>


    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>


    <script src="~/Scripts/avartar/jquery.cropit.js"></script>




    <style>
        .cropit-preview {
            background-color: #f8f8f8;
            background-size: cover;
            border: 1px solid #ccc;
            border-radius: 3px;
            margin-top: 7px;
            width: 250px;
            height: 250px;
        }

        .cropit-preview-image-container {
            cursor: move;
        }

        .image-size-label {
            margin-top: 10px;
        }

        input, .export {
            display: block;
        }

        button {
            margin-top: 10px;
        }
    </style>

    <style type="text/css">
        .right {
            margin-top: 20px;
            width: 230px;
            float: right;
            margin-right: 75px;
        }

        .left {
            margin-top: 20px;
            margin-left: 75px;
            width: 230px;
            float: left;
        }

        .main {
            margin: auto;
            margin-top: 100px;
            background-color: #F6F6FA;
            width: 650px;
            height: 500px;
        }

        .bottom {
            margin-left: 80px;
            margin-top: 20px;
        }

        .btn {
            width: 40%;
        }

        .control-group {
            height: 80px;
            margin-top: 5px;
        }

        .form-control {
            width: 100%;
            height: 50%;
        }

        #ut {
            width: 200px;
            height: 30px;
        }
    </style>
    <script>
    function flashChecker() {
        var hasFlash = 0;　　　　 //是否安装了flash
        var flashVersion = 0;　　 //flash版本
        if (document.all) {
            var swf = new ActiveXObject('ShockwaveFlash.ShockwaveFlash');
            if (swf) {
                hasFlash = 1;
                VSwf = swf.GetVariable("$version");
                flashVersion = parseInt(VSwf.split(" ")[1].split(",")[0]);
            }
        } else {
            if (navigator.plugins && navigator.plugins.length > 0) {
                var swf = navigator.plugins["Shockwave Flash"];
                if (swf) {
                    hasFlash = 1;
                    var words = swf.description.split(" ");
                    for (var i = 0; i < words.length; ++i) {
                        if (isNaN(parseInt(words[i]))) continue;
                        flashVersion = parseInt(words[i]);
                    }
                }
            }
        }
        return {
            f: hasFlash,
            v: flashVersion
        };
    }
        
    var fls = flashChecker();
    var s = "";
    if (fls.f) document.write("您安装了flash,当前flash版本为: " + fls.v + ".x");
    else document.write("您没有安装flash");
    </script>
    <script type="text/javascript">

    </script>
</head>
<body>

    <div class="main">
        @using (Html.BeginForm("RegisterConfire", "User", FormMethod.Post, new {@id="myform", @class = "form-horizontal", enctype = "multipart/form-data" }))
        {
            

            <fieldset>

                <div class="left">
                    <div class="control-group">

                        <!-- Text input-->
                        <label>用户名</label>
                        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", placeholder = "6到10位是用户名" })
                        <div class="message">
                            @Html.ValidationMessageFor(m => m.UserName)
                        </div>

                    </div>

                    <div class="control-group">

                        <!-- Text input-->
                        <label>密码</label>
                        @Html.PasswordFor(m => m.Pwd, new { @class = "form-control", placeholder = "输入密码" })
                        <div class="message">
                            @Html.ValidationMessageFor(m => m.Pwd)
                        </div>


                    </div>
                    <div class="control-group">

                        <!-- Text input-->
                        <label>确认密码</label>
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "输入确认密码" })
                        <div class="message">
                            @Html.ValidationMessageFor(m => m.ConfirmPassword)
                        </div>


                    </div>
                </div>
                <div class="right">

                    <div class="control-group">
                        <div style="float:left">
                            <!-- Text input-->
                            <label>头像</label>
                            <div>
                                <input type="button" class="btn btn-primary " data-toggle="modal" style="width:100px" value="设置"
                                       data-target="#myModal" />


                            </div>
                        </div>

                        <div style="display: inline;margin-left:47px;">
                            <img name="preview" id="preview" style="    border-radius: 54px;width: 110px;" src="~/Images/webwxgeticon.jpg" />
                            <input id="img-data" name="img-data" />
                        </div>
                        <div style="clear:both"></div>
                    </div>

                </div>






                <div style="clear:both"></div>
                <div class="bottom">
                    <input type="submit" value="注册" class="btn btn-primary btn-lg">
                </div>
            </fieldset>

        }


        <!-- 模态框（Modal） -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog"
             aria-labelledby="myModalLabel" aria-hidden="true" style="width:1200px;height:650px;">
            <div class="modal-dialog" style="width:700px; ">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close"
                                data-dismiss="modal" aria-hidden="true">
                            &times;
                        </button>
                        <h4 class="modal-title" id="myModalLabel">
                            头像设置
                        </h4>
                    </div>
                    <div class="modal-body" style="height:450px; overflow:auto">
                       
                        <div class="image-editor">
                            <input type="file" class="cropit-image-input">
                            <div class="cropit-preview"></div>
                            <div class="image-size-label">
                                Resize image
                            </div>
                            <input type="range" class="cropit-image-zoom-input">
                            <button class="rotate-ccw">Rotate counterclockwise</button>
                            <button class="rotate-cw">Rotate clockwise</button>
                            <button class="export">Export</button>
                        </div>
                        <img id="pre" src="" />


                    </div>
                    <div class="modal-footer">
                        <button id="modal_close" type="button" class="btn btn-primary">
                            确定
                        </button>

                    </div>
                </div><!-- /.modal-content -->
            </div>
        </div>

        <!-- /.modal -->
    </div>





    <script>
    $(function () {
        
        $('.image-editor').cropit();
        $('.rotate-cw').click(function () {
            $('.image-editor').cropit('rotateCW');
        });
        $('.rotate-ccw').click(function () {
            $('.image-editor').cropit('rotateCCW');
        });

        $('.export').click(function () {
            var imageData = $('.image-editor').cropit('export');
            $("#pre").attr("src", imageData);
            $("#preview").attr("src", imageData);
            var data = imageData.replace("data:image/png;base64,", "");
            $("#img-data").val(data);
        });
    });
    </script>



    <script type="text/javascript">
        $(function () { $("[data-toggle='tooltip']").tooltip(); });
    </script>
    <script type="text/javascript">
        $("#modal_close").click(function () {

            $('#myModal').modal('hide');
        });
    </script>






</body>
</html>
